* {
	 text-align: center;
	 padding-top: 10px;
	 overflow: hidden;
}
 body {
	 background-image: url("../images/bg.jpeg");
	 background-size: auto;
	 background-position: 20% 20%;
	 background-repeat: no-repeat;
	 animation: background 30s infinite alternate;
	 background-color:black;
}

.noOverlap {
	min-height: 50%;
}

 @keyframes mortyMove {
	 0% {
		 top: 200px;
	}
	 50% {
		 top: 150px;
	}
	 100% {
		 top: 100px;
	}
}
 @keyframes rickMove {
	 0% {
		 top: 100px;
	}
	 50% {
		 top: 150px;
	}
	 100% {
		 top: 200px;
	}
}
 @keyframes rickPupil {
	 from {
		 transform: translateY(-3px);
	}
	 to {
		 transform: translateY(-12px);
	}
}
 @keyframes mortyPupil {
	 from {
		 transform: translateY(5px);
	}
	 to {
		 transform: translateY(15px);
	}
}
 @keyframes background {
	 0% {
		 background-position: center top;
	}
	 25% {
		 background-position: 18% 25%;
	}
	 50% {
		 background-position: 14% 23%;
	}
	 75% {
		 background-position: 20% 30%;
	}
	 100% {
		 background-position: 27% 22%;
	}
}
 .morty-pupil {
	 animation: mortyPupil 3s infinite alternate;
}
 .rick-pupil {
	 animation: rickPupil 3s infinite alternate;
} 
 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	#morty-div {
		padding-top: 100px;
		width: 50%;
		display: inline-block;
		position: absolute;
		top: 100px;
		left: 5%;
		animation: mortyMove 3s infinite alternate ease-in-out;
	}
	 
	#rick-div {
		width: 50%;
		display: inline-block;
		position: absolute;
		top: 50px;
		left: 50%;
		animation: rickMove 3s infinite alternate;
	 }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	#morty-div {
		padding-top: 100px;
		width: 300px;
		display: inline-block;
		position: absolute;
		top: 200px;
		left: 10%;
		animation: mortyMove 3s infinite alternate ease-in-out;
	}
	 
	#rick-div {
		width: 350px;
		display: inline-block;
		position: absolute;
		top: 100px;
		left: 50%;
		animation: rickMove 3s infinite alternate;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	#morty-div {
		padding-top: 100px;
		width: 300px;
		display: inline-block;
		position: absolute;
		top: 200px;
		left: 20%;
		animation: mortyMove 3s infinite alternate ease-in-out;
	}
	 
	#rick-div {
		width: 350px;
		display: inline-block;
		position: absolute;
		top: 40px;
		left: 55%;
		animation: rickMove 3s infinite alternate;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	#morty-div {
		padding-top: 100px;
		width: 300px;
		display: inline-block;
		position: absolute;
		top: 200px;
		left: 20%;
		animation: mortyMove 3s infinite alternate ease-in-out;
	 }
	 
	 #rick-div {
		 width: 400px;
		 display: inline-block;
		 position: absolute;
		 top: 40px;
		 left: 55%;
		 animation: rickMove 3s infinite alternate;
	 }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	#morty-div {
		padding-top: 100px;
		width: 300px;
		display: inline-block;
		position: absolute;
		top: 200px;
		left: 20%;
		animation: mortyMove 3s infinite alternate ease-in-out;
	 }
	 
	 #rick-div {
		 width: 400px;
		 display: inline-block;
		 position: absolute;
		 top: 40px;
		 left: 55%;
		 animation: rickMove 3s infinite alternate;
	 }
}